.error-boundary {
  max-width: 500px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;

  .error-alert {
    margin-bottom: 10px;
  }
  .error-reset {
    margin-top: 10px;
    text-align: center;
  }
}

